html, body {
    font: 14px Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(73, 80, 80);
}

.App {
    margin: 40px 0 80px;
    padding: 20px 0 80px;
    background-color: rgb(247, 249, 250);

    &__header {
        text-transform: uppercase;
        padding-left: 28px;
        color: rgb(75, 81, 81);
        margin: 0 0 8px 0;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAATCAMAAABMZWaEAAAAnFBMVEVKUVFMU1NOVVVQV1dSWVlUW1tYX19aYWFcY2NeZWVgZ2dob29udXVwd3dyeXl0e3t2fH14fn9+hIWAhoeCiImQlpeWnJ2aoKGcoqOepKWhpqaprq65vr67wMC/xMTDyMjFysrJzs7P0dLR09TV19jX2drZ29zb3d7f4eLh4+Tj5ebl5+jn6erp6+zt7/Dv8fLx8/Tz9fb19/j3+fpUH6C2AAAAuElEQVR42oXR1xKCMBAF0AuRxN7BrthAQrHk///NTYIDMzh6n3JPdvKwgfqev74boL9t+gY664b3jffqHg6HoeLGW6ZYv7uAe/dg8mR0+TIe6x5z6xkohfHMdPt+p6hcTYCxStsE4vYa62K9cF2aOJOfdHGK0nPGcn0CHrYYlwEH+EEdyfcq1CWQ5B7AgiRdtcjZUiYLBnjkvsMv0QifDK6RcPxyD11UEbX9TGs+rbmci8/0TP7+lzeXejMjO9fZ/QAAAABJRU5ErkJggg==");
        background-repeat: no-repeat;
        background-position: left center;
    }

    &__peopleList {
        margin: 0 auto;
        max-width: 980px;
    }
}
